/* Some styles for text */
h2, h3, p {
    font-family: Verdana, sans-serif;
}

.small {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 60%;
}

/* Text Box attributes */
.textinput {
    width: 400px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
}

/* Scroll Box attributes */
.scrollabletextbox {
    background-color: #e6b3ff;
    height: 300px;
    width: 400px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
}

.gamepiece img {
  max-width: 100%;
  border-radius: 1rem;
}

.gamepiece a {
  transition: all .5s ease;
}

.gamepiece a:hover, .gamepiece-grey {
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
       -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
          filter: grayscale(100%);
}

.mainMenu a{
  font-size: 72px;
  font-family: "Monaco", monospace;
  color: white;
  text-shadow: -1px 1px 2px #000,
                1px 1px 2px #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
  transition: all 500ms ease;
}

.mainMenu a:hover {
<<<<<<< HEAD
  animation: slidein 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
=======
  font-size:80px;
  /* animation: pulse 1s linear;
  animation-timing-function: linear; */
>>>>>>> 51d60d8304eb055beef8b8e4a4895b732b42a246
}
/*
@keyframes pulse {
  0%,100% { transform: scale(1); }
  50% { transform: scale(1.2);}
} */
