/* Some styles for text */
h2, h3, p {
  font-family: Verdana, sans-serif;
}

h1{
  color:white
}

h5{
  color:white;
}

body {
  background-attachment: fixed;
  background-image:url("https://image.freepik.com/free-vector/background-questions-mark-help-symbol-white-color-yellow-background_110633-305.jpg");
  margin: 2rem 3rem;

}

.main {
  background-color: rgba(45, 32, 96, 0.6);
  box-shadow: 0 0 10px 7px #6d6c6c;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.small {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 60%;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

/* Text Box attributes */
.textinput {
    width: 400px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
}

/* Scroll Box attributes */
.scrollabletextbox {
    background-color: #ffffff94;
    height: 300px;
    width: 100%;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
    padding: 3%;
}

/* Board attributes */
.board {
  background-color: #524a72;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
}

.purple {
  background-color: #524a72;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.purple-text {
  color: #b6b3c4;
}

.padding-top {
  padding-top: 1rem;
}

.title {
  color: #ffffff94;
}

/* Guess menu attributes */
.guesses {
  background-color: #524a72;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hiddenChar img {
  max-width: 60%;
  border-radius: 1rem;
}

.hiddenChar{
  text-align: center;
}

.gamepiece img {
  max-width: 90%;
  border-radius: 1rem;
}

.gamepiece a {
  transition: all .5s ease;
}

.gamepiece a:hover, .gamepiece-grey {
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
       -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
          filter: grayscale(100%);
}

.mainMenu a {
  font-size: 72px;
  font-family: "Monaco", monospace;
  color: BlueViolet;
  text-decoration: none;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
  transition: all .5s ease;
  transform: scale(1);
  animation: pulse 1.5s infinite;
  border-radius: 1rem;
  padding: .5rem 1.5rem;
}

.mainMenu a:hover {
  font-size: 90px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

button{
  position: relative;

  &:before {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border: 2px solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s;
    animation: 0.8s linear infinite rotate;
  }
  &.sending{
    pointer-events: none;
    cursor: not-allowed;

    &:before {
      transition-delay: 0.5s;
      transition-duration: 1s;
      opacity: 1;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-block {
  width: auto;
}

.btn-warning {
  background-color: #c39b52;
}
